html {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  background-color: silver;
  background-image: linear-gradient(335deg, #b10 23px, transparent 23px),
  linear-gradient(155deg, #d10 23px, transparent 23px),
  linear-gradient(335deg, #b10 23px, transparent 23px),
  linear-gradient(155deg, #d10 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px; }


#warningoverlay:empty, #overlay:empty {
  display: none; }

#warningoverlay {
  color: white;
  text-align: center;
  font-size: 12px;
  background-color: firebrick;
  padding: 20px; }

#overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  text-align: center; }

#menuview {
  width: 45%;
  height: 100%;
  margin: 0px auto 0px auto;
  text-align: center;
  background-color: #ff9933;
  border: 3px solid black;
  border-radius: 15px;
  padding: 0px 0px 25px 0px;  }

#help {
  width: 45%;
  height: 100%;
  margin: 0px auto 0px auto;
  text-align: left;
  background-color: #ff9933;
  border: 3px solid black;
  border-radius: 15px;
  padding: 0px 0px 30px 25px;
  display: none;
}

/* test gameview display: none display: none;*/
#gameview {
  width: 45%;
  height: 100%;
  margin: 0px auto 0px auto;
  text-align: center;
  background-color: #ff9933;
  border: 3px solid black;
  border-radius: 15px;
  padding: 0px 0px 25px 0px;
  display: none;  }

h1 {
  font-size: 3rem;
  margin-bottom: 70px;
}

h2 {
  font-size: 2rem;
}

#start, #startgame, #backmenu, #score, #howto, #level,#points, #leftbutton, #rightbutton  {
  padding: 7px 20px 7px 20px;
  font-size: 2rem;
  color: black;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid black;
  border-radius: 10px;
}

#button {
  display: none;
}

#leftbutton, #rightbutton {
  font-size: 1rem;
  margin: 0px 5px 0px 5px;
}

#cancelbutton {
  font-size: 2rem;
  height: auto;

}

/* Game controls */
#firstoption, #secondoption, #thirdoption, #welcome, #back, #message, #controls, #button {
  margin: 50px 0px 60px 0px; }

#message #gameover {
  font-size: 3rem;
  color: black;
  text-align: center; }


/* highscore */

#highscoreform {
  margin: 40px;
  background: rgba(255, 255, 255, 0.5);
}

#highscoreform input {
  color: white;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.5);
  appearance: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

#highscorewarning {
  background: lightpink;
  color: darkred;
  padding: 50px;
}

#highscorewarning:empty {
  display: none;
}

#scorelist:empty {
  display: none;
}

#scorelist {
  padding: 20px;
  color: white;
  margin: 20px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-radius: 10px;
  background: rgba(1,1,1,0.1);
}

#scorelist ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
}

#scorelist li {
  font-size: 1.1em;
  margin: 0px 5px 5px 5px;
  padding: 5px;
  color: white;
  display: block;
  border-radius: 20px;
}
/*
#scorelist li:nth-child(even) {
  background: rgba(1,1,1,0.25);
}
#scorelist li:nth-child(odd) {
  background: rgba(1,1,1,0.5);
}
*/

input::-webkit-input-placeholder { color: lightgray; font-style: italic; }
input::-moz-placeholder { color: lightgray; font-style: italic; }
/*End High Score */


/* Gamefield */

#game {
  margin: 50px auto 50px auto;
  /* background-image: url('img/brickwall.jpg');
   background-repeat: no-repeat;*/
  background-color: black;
  background-size: cover;

}

#game td {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.3); }

.player {
  background: #3e5d9e !important;
  border: none !important;
  border-spacing: 0px;
  position: absolute; }

.ball {
  background-color: red !important;
  border-radius: 50%;
  position: absolute; }

.greenBrick {
  background: green !important;
  border: none !important;
  border-spacing: 0px; }

.brownBrick {
  background: brown !important;
  border: none !important;
  border-spacing: 0px; }

.redBrick {
  background: red !important;
  border: none !important;
  border-spacing: 0px; }

.yellowBrick {
  background: yellow !important;
  border: none !important;
  border-spacing: 0px; }

.greyBrick {
  background: gray !important;
  border: none !important;
  border-spacing: 0px; }

.field {
  background: inherit !important;
  border: none !important;
  border-spacing: 0px; }